<?xml version="1.0" encoding="UTF-8"?>
<beans 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.1.xsd
http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.1.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
">
	<!-- init-method -->
	<bean id="springBean" class="framework.spring.test.SpringBean"
	init-method="init"></bean>

	<!-- meta -->
	<bean id="springMetaBean" class="framework.spring.test.SpringMetaBean">
		<meta key="testStr" value="lalal" />
	</bean>

	<!-- lookup-method -->
	<bean id="springLookupBean" class="framework.spring.test.SpringLookupBean">
		<lookup-method name="getBean" bean="teacher" />
	</bean>
	<bean id="teacher" class="framework.spring.test.Teacher"></bean>

	<!-- replace-method -->
	<bean id="changeMethod" class="framework.spring.test.ChangeMethod">
		<replaced-method name="changeMe" replacer="springMethodReplacer"></replaced-method>
	</bean>
	<bean id="springMethodReplacer" class="framework.spring.test.SpringMethodReplacer"></bean>

	<!-- contructor -->
	<bean id="springConstructor" class="framework.spring.test.SpringConstructor">
		<constructor-arg index="0">
			<value>liutaotao</value>
		</constructor-arg>
		<constructor-arg index="1">
			<value>hello</value>
		</constructor-arg>
	</bean>

	<!-- property -->
	<bean id="springProperty" class="framework.spring.test.SpringProperty">
		<property name="aInt">
			<value>2</value>
		</property>
		<property name="aList">
			<list>
				<value>a</value>
				<value>b</value>
			</list>
		</property>
		<property name="aMap">
			<map>
				<entry key="first" value="the first"></entry>
				<entry key="second" value="the second"></entry>
			</map>
		</property>
	</bean>
  
  
  <!-- <property name="interest">
            <map>
                <entry key="${rocketmq.topic.order}" value-ref="messageListener"></entry>
                <entry key="${rocketmq.topic.loan}" value-ref="messageListener"></entry>
                <entry key="${rocketmq.topic.gradloan}" value-ref="messageListener"></entry>
                <entry key="${bill.record.success.topic}" value-ref="instalmentMessageListener"></entry>
                <entry key="${bill.refund.success.topic}" value-ref="refundMessageListener"></entry>
                <entry key="${bill.repay.success.topic}" value-ref="repayMessageListener"></entry>
                <entry key="${trade.pay.result.topic}" value-ref="loanLenderResultMessageListener"></entry>
                <entry key="${trade.serial.result.topic}" value-ref="tradeSerialResultMessageListener"></entry>
            </map>
        </property> -->
 	
	<!-- <bean id="sysProperty"
          class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="properties" ref="propertiesFactory"/>
    </bean> -->
</beans>